@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-family: "Manrope", sans-serif;

    --bg: #0f121e;
    --card: #364061;

    --highlight: #5B54E0;
    --highlight2: #E85EB8;
    --green: #56C7E7;

    --white:#ffffff;

    --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
    --gradient-bg: linear-gradient(#364061 1.84%, #20263E 102.67%);
    --highlight-gradient-bg:radial-gradient(circle, rgba(91,84,224,0.1) 0%, rgba(15,18,30,1) 45%, rgba(15,18,30,1) 100%);
}

body{
    overflow-x: hidden;
    background:var(--bg);
}

.home-bg{
    background: var(--highlight-gradient-bg);
    background-attachment: fixed;
}

*{
    @apply text-[--white]
}

h1, h2, h3{
    @apply font-semibold
}

h1{
    @apply text-3xl md:text-4xl xl:text-5xl
}
h3{
    @apply text-2xl
}
h4{
    @apply text-lg
}

.container{
    @apply px-[1rem] md:px-[3rem] xl:px-[6rem] max-w-[1440px] mx-auto
}

.gp-flex{
    @apply flex items-center
}

.social-icons{
    @apply text-[1.7rem] md:text-3xl
}

.social-container{
    @apply bg-[--card] p-3 rounded-lg
}