@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-family: "Manrope", sans-serif;

    --bg: #f1f1f1;
    --card: #364061;
    --text: #010101;

    --highlight: #5B54E0;
    --highlight2: #E85EB8;
    --green: #56C7E7;

    --white:#ffffff;

    --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
    --gradient-bg: linear-gradient(#364061 1.84%, #20263E 102.67%);
    --highlight-gradient-bg:radial-gradient(circle, rgba(91,84,224,0.1) 0%, rgba(15,18,30,1) 45%, rgba(15,18,30,1) 100%);
}

/* {
    font-family: "BioRhyme", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  } */

  /* {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

body{
    overflow-x: hidden;
    background:var(--bg);
    color: white;
}

p,a,h1,h2,h3,h4,h5,h6,span,div{
    font-family: "Jura", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    @apply text-[--text]
}

h1, h2, h3, button{
    font-family: "BioRhyme", serif !important;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    @apply uppercase
}

h1{
    @apply text-[12.5vw] md:text-6xl xl:text-7xl font-black drop-shadow-[0_7.15px_1.9px_rgba(0,0,0,1)] text-white
}

h2{
    @apply text-3xl md:text-4xl xl:text-5xl 
}
h3{
    @apply text-lg uppercase font-medium
}
h4{
    @apply text-lg
}

.container{
    @apply px-[1rem] md:px-[3rem] xl:px-[6rem] max-w-[1240px] mx-auto
}

.gp-flex{
    @apply flex items-center
}

.social-icons{
    @apply text-[1.7rem] md:text-3xl text-white hover:bg-white hover:text-[--text] cursor-pointer h-[40px] w-[40px] md:h-[45px] md:w-[45px] p-[6px] rounded-lg
}

.social-container{
    @apply bg-[--card] p-3 rounded-lg
}

.social-container .social-icons{
    @apply hover:text-[--white]
}

.button-1-pre{
    @apply rounded-lg absolute top-[-5.5px] left-[-6.5px] w-full h-full bg-white border-2 border-[--text]
}
.button-1{
    @apply gap-2 flex items-center justify-center text-white bg-[--text] py-[10px] md:py-[12px] lg:px-4 rounded-lg min-w-[200px] border-2 border-[--text]
}


.gradient-bg-1{
    background: radial-gradient(white, rgba(255,255,255,0.9), rgba(0,0,0,0));
}